[alias]
  st   = status -s
  cm   = commit -m
  type = cat-file -t
  dump = cat-file -d
  logg = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(dim white)- %an%C(reset)%C(bold yellow)%d%C(reset)' --all
  n    = log --reverse --pretty=%H main | grep -A 1 $(git rev-parse HEAD) | tail -n1 | xargs git checkout
  p    = checkout HEAD^1
  sw = switch
  swc = switch -c
  b = branch --format='%(HEAD) %(color:yellow)%(refname:short)%(color:reset) - %(contents:subject) %(color:green)(%(committerdate:relative)) [%(authorname)]' --sort=-committerdate
  bd = branch -D
  f = fetch

[user]
  email = denys@famiclone.dev
  name = Denys Tynok

[core]
  editor = nvim

[color]
  ui = true
[commit]
  template = /Users/dentynok/.gitmessage
